<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link rel="stylesheet" th:href="@{cssFolder/Style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form th:action="@{/data}" th:object="${stud}"  method="Get">
Name : <input type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
    class="error">
            </span>
    <input type="submit" value="Submit">
</form>
</body>
</html>