<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link rel="stylesheet" th:href="@{cssFolder/Style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form th:action="@{/students/save}" th:object="${student}"  method="post">
    Roll No. : <input type="text" name="rollNo">
    Name : <input type="text" name="name">
    Address : <input type="text" name="address">
    City : <input type="text" name="city">
    <input type="submit" value="Submit">
</form>
</body>
</html>