<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DepositAmount</servlet-name>
        <servlet-class>Servlets.DepositAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawAmount</servlet-name>
        <servlet-class>Servlets.WithdrawAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction_Statement</servlet-name>
        <servlet-class>Servlets.Transaction_Statement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer_Money</servlet-name>
        <servlet-class>Servlets.Transfer_Money</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositAmount</servlet-name>
        <url-pattern>/DepositAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawAmount</servlet-name>
        <url-pattern>/WithdrawAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction_Statement</servlet-name>
        <url-pattern>/Transaction_Statement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer_Money</servlet-name>
        <url-pattern>/Transfer_Money</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
