<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>account_Details</servlet-name>
        <servlet-class>Servlets.Account_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account_registration</servlet-name>
        <servlet-class>Servlets.Account_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deposit_Amount</servlet-name>
        <servlet-class>Servlets.Deposit_Amount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Withdraw_Amount</servlet-name>
        <servlet-class>Servlets.Withdraw_Amount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Balance_Statement</servlet-name>
        <servlet-class>Servlets.Balance_Statement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMethod</servlet-name>
        <servlet-class>SessionTracking.ServletMethod</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>account_Details</servlet-name>
        <url-pattern>/account_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account_registration</servlet-name>
        <url-pattern>/Account_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deposit_Amount</servlet-name>
        <url-pattern>/Deposit_Amount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdraw_Amount</servlet-name>
        <url-pattern>/Withdraw_Amount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Balance_Statement</servlet-name>
        <url-pattern>/Balance_Statement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMethod</servlet-name>
        <url-pattern>/ServletMethod</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
