.div1{
    background-color: blueviolet;
    width: 200px;
    height: 200px;

}
.div2{
    margin-top: 20px;
    background-color: rgb(227, 131, 20);
    width: 200px;
    height: 200px;

}
.div3{
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(7, 201, 49);
    width: 200px;
    height: 200px;
}