.p1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 74, 74);
}
.p2{
    width: 800px;
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    color: blue;
}
/* Hover effect:After and before type */
.p2:hover{
    text-shadow: 2px 2px 2px red;
}
.p3{
    font-weight: 600;
    color: brown;
}
.p4{
    font-style: italic;
    color: bisque;
}
.p5{
    font-variant: small-caps;
    color: rgb(5, 139, 47);
}
.p6{
    font-stretch:ultra-expanded;
}
.p7{
    font-family: 'Comfortaa', cursive;
    color: red;
}
