
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background: rgb(124,223,244);
    background: linear-gradient(90deg, rgba(124,223,244,1) 0%, rgba(107,158,168,1) 36%, rgba(164,164,170,1) 100%);
}
.navbar-collapse{
    padding-left: 180px;
    padding-right: 40px;
}
.nav-item {
    padding-left: 60px;
}
.navbar-brand img{
    width: 200px;
}
#img-back{
    width: 100%;
    height: 600px;
}
.aboutus{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:50px;
    font-weight:bolder;
    font-style: oblique;
    
    /* background-color: aqua; */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container .row .col-6 img{
    width: 500px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

