
.static{
    width: 100%;
    border: 5px solid red;
    background-color: blueviolet;
    position: relative;
}
.absolute{
    width: 100%;
    border: 5px solid rgb(21, 0, 255);
    background-color: rgb(140, 200, 222);
    position: absolute;
}