<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>display</title>
</head>
<body>
<table>
    <tr>
        <td>Roll No : </td>
        <td><p th:text="${stud.rollNo}"/></td>
    </tr>
    <tr>
        <td>Name : </td>
        <td> <p th:text="${stud.name}"/></td>
    </tr>
    <tr>
        <td>Address : </td>
        <td> <p th:text="${stud.address}"/></td>
    </tr>
    <tr>
        <td>City : </td>
        <td> <p th:text="${stud.city}"/></td>
    </tr>
    <tr>
        <td>Gender : </td>
        <td> <p th:text="${stud.gender}"/></td>
    </tr>
    <tr>
        <td>Subject : </td>
        <td> <p th:text="${stud.subject}"/></td>
    </tr>
</table>
</body>
</html>