body{
    background-color: rgb(244, 82, 201);
}
div{
    
    background-color: rgb(230, 206, 128);
    margin: 10px;
}
.border{
    width: 100px;
    height: 100px;
}
/* .border border-primary{
    border-width: 10px;
} */