body{
    background-color: rgb(241, 210, 85);
}
div{
    
    background-color: aquamarine;
    margin: 10px;
}
.border{
    width: 100px;
    height: 100px;
}
/* .border border-primary{
    border-width: 10px;
} */